@page "/"
@using DailyFood.Shared;
@inject HttpClient Http;
@inject LocalStorageAccessor LocalStorage;

<h3>Home</h3>
<p>Total proteins is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getprot100g())</p>
<p>Total energy is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getenergy100gkJ())</p>
<p>Total carb is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getcarb100g())</p>
<p>Total fat is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getfat100g())</p>
<p>Total fiber is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getfiber100g())</p>
<p>Total alcohol is: @FoodEntries.Sum(e => e.Weight * 0.01 * e.FoodType?.Getalco100g())</p>
<button @onclick="AddEntry">Add</button>

@foreach (var Entry in FoodEntries)
{
    <FoodInput FoodEntry="Entry" InputOptions="suggestions"></FoodInput>
}




@code {
    RecipeData data = new ();

    private List<Food> suggestions = new List<Food>();

    List<FoodEntry> FoodEntries = new List<FoodEntry>();

    private void AddEntry ()
    {
        Console.WriteLine("Test");
        FoodEntry newEntry = new FoodEntry();
        newEntry.Date = DateTime.Now;
        newEntry.FoodEntryChanged += EntryChanged;
        FoodEntries.Add(newEntry);

    }

    private void EntryChanged (object? sender, EventArgs e)
    {
        //LocalStorage.SetValueAsync("Entries", FoodEntries);
        StateHasChanged();
    }

    private float GetTotalFood (Func<float> func)
    {
        float total = 0;
        foreach (var Entry in FoodEntries)
        {
            if (Entry.FoodType != null)
                total += Entry.Weight * 0.01f * func();
        }
        return total;
    }



    protected async override Task OnInitializedAsync()
    {
        data = await Http.GetFromJsonAsync<RecipeData>("/RecipeData") ?? new();
        foreach (var commodity in data.commodities)
        {
            suggestions.Add(commodity);
        }
        foreach (var recipe in data.recipes)
        {
            suggestions.Add(recipe);
        }
        //FoodEntries = await LocalStorage.GetValueAsync<List<FoodEntry>>("Entries") ?? new();
        //if (FoodEntries == null)
        //{
            //Console.WriteLine("Break");
        //}
    }
}
